body {
background: url("") center / cover no-repeat;
	height: 90vh;
	margin: 0;
	display: flex;
	justify-content: center;
  padding: 35px 0;
  font-size: 20px;
}

.form-container {
	border-radius: 20px;
}

h2 {
padding: 12px 0;

}
